<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="set_schedule_act_window" model="ir.actions.act_window">
            <field name="name">Set Schedule</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">set.schedule</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>


        <menuitem name="Schedule" id="set_schedule_root_id" sequence="10"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="set_schedule_categ_id" name="Menu" parent="set_schedule_root_id" sequence="1"/>

        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="set_schedule_action_id" name="Set Schedule" parent="set_schedule_categ_id"
                  action="set_schedule_act_window" sequence="1"/>
    </data>
</odoo>