<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="tpc_dm_cm_act_window" model="ir.actions.act_window">
            <field name="name">Overview</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tpc.dm.cm</field>
            <field name="view_mode">kanban</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="tpc_dm_cm_request_act_window" model="ir.actions.act_window">
            <field name="name">Request</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tpc.dm.cm.request</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="tpc_dm_cm_request_act_window_kanban" model="ir.actions.act_window">
            <field name="name">Request Kanban</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tpc.dm.cm.request</field>
            <field name="view_mode">kanban,tree</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="particulars_act_window" model="ir.actions.act_window">
            <field name="name">Particulars</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tpc.dm.cm.particulars</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="email_control_act_window" model="ir.actions.act_window">
            <field name="name">Email Control</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">email.control</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="source_trade_non_trade_act_window" model="ir.actions.act_window">
            <field name="name">Source Trade Non Trade</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">source.trade.non.trade</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="file_type_act_window" model="ir.actions.act_window">
            <field name="name">File Type</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">file.types</field>
            <field name="view_mode">tree</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    There is no examples click here to add new ModelTitle.
                </p>
            </field>
        </record>

        <record id="tpc_dm_cm_config_settings_action" model="ir.actions.act_window">
            <field name="name">Settings</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.config.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="context">{'module' : 'tpc_dm_cm', 'bin_size': False}</field>
        </record>


        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="tpc_dm_cm_root" name="Billing Request" sequence="5"/>
        <menuitem name="Overview" id="tpc_dm_cm_menu" parent="tpc_dm_cm_root" action="tpc_dm_cm_act_window"/>
        <menuitem name="Request" id="tpc_dm_cm_request_menu" parent="tpc_dm_cm_root"
                  action="tpc_dm_cm_request_act_window"/>

        <!-- This Menu Item must have a parent and an action -->
        <!--        <menuitem id="tpc_request_action_id" name="Make Request" parent="tpc_dm_cm_request_menu"-->
        <!--                  action="tpc_dm_cm_request_act_window" sequence="0"/>-->

        <menuitem name="Configuration" id="config_menu" parent="tpc_dm_cm_root" sequence="10"/>


        <menuitem id="paticular_root" name="Particulars" parent="config_menu" sequence="0"/>

        <menuitem id="config_root" name="Configuration" parent="config_menu" sequence="0"/>

        <menuitem id="file_type_setting_menu" name="File Types"
                  parent="config_root" sequence="5" action="file_type_act_window"
                  groups="base.group_system"/>

        <menuitem id="tpc_dm_cm_config_settings_menu" name="Configuration Settings"
                  parent="config_root" sequence="0" action="tpc_dm_cm_config_settings_action"
                  groups="base.group_system"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="particulars_menu_id" name="Particulars" parent="paticular_root" sequence="0"
                  action="particulars_act_window"/>
        <!-- This Menu Item Must have a parent -->
        <menuitem id="email_categ" name="Trade or Non Trade" parent="config_menu" sequence="2"/>

        <!--        <menuitem id="email_control_menu" name="Setup Email" parent="config_menu" sequence="0"-->
        <!--                  action="particulars_act_window"/>-->

        <!--        <menuitem id="email_control_menu" name="Email CC/BCC" parent="email_categ" sequence="0"-->
        <!--                  action="email_control_act_window"/>-->

        <menuitem id="source_trade_non_trade_control_menu" name="Source Trade/Non Trade" parent="email_categ"
                  sequence="0"
                  action="source_trade_non_trade_act_window"/>


    </data>
</odoo>